/*  */
/*  */
/*  */
/*  */
nav {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 4vmin;
}
nav .contentWRAP {
  height: 8rem;
  display: flex;
  border: var(--border_005);
  border-radius: var(--radius_big);
  background-color: var(--bg_main);
  z-index: 5;
}


.navBTN {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  padding: 0 3.2rem;
  border-right: var(--border_005);

  cursor: pointer;
  transition: 100ms ease-in-out;
}
.navBTN:only-child {
  
} 
.navBTN.chooseFolder {
  /* padding: 0; */
  width: 14rem;
}
.navBTN.sort {
  /* padding: 0; */
  width: 12rem;
}
.navBTN:last-child {
  border: none;
  border-radius: 0 var(--radius_big) var(--radius_big) 0;
}
.navBTN:first-child {
  border-radius:  var(--radius_big) 0 0 var(--radius_big) ;
}
.navBTN:hover,
.navBTN[data-open="true"] {
  background-color: var(--bg_main_hover);
}

.navBTN.addTR .xWRAP {
  rotate: 45deg;
}
.navBTN.addTR .xLINE {
  background-color: #AFFB6D;
}

.navDROPDOWN {
  position: absolute;
  top: 110%;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color: var(--bg_main);
  border-radius: 1.6rem;
  box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.237);

  pointer-events: none;
  opacity: 0%;
  transition: 100ms ease-in-out;
  transform: translateY(-2rem) scaleX(0.8);
}

.navBTN[data-open="true"] .navDROPDOWN{
  pointer-events: all;
  opacity: 100%;
  transform-style: preserve-3d;
  transform: translateY(0rem) scaleX(1);
}
.navBTN.display_TOGGLE {
  flex:1
}
.navBTN.display_TOGGLE[data-active="true"] {
  background-color: var(--pink_bg);
  color: var(--pink);
}

.navDropdownITEM {
  padding: 2rem 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms ease-in-out;
}
.navDropdownITEM[data-current="true"],
.navDropdownITEM:hover  {
  color: var(--pink);
  background-color:var(--pink_bg);
}

.search_WRAP {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}
.search_WRAP.mobile {
  overflow: hidden;
  display: none;
}
input[type="search"] {
  flex: 1;
  padding: 0 2.4rem;
  min-width: 20rem;
  height: 100%;

  font-weight: 300;
  color: var(--pink);
  background-color: rgba(255, 255, 255, 0);
  border-right: var(--border_005);
  transition: 100ms ease-in-out;
}

input[type="search"]:hover,
input[type="search"]:focus  {
  background-color: var(--bg_main_hover);
}
.search_WRAP > .button.seeThrough.X {
  position: absolute;
  right: 1.2rem;
  top: auto;
  padding: 2.8rem 2.8rem !important;
  background-color: var(--bg_main_hover);
}

@media screen and (max-width: 48rem) {
  .navBTN.sort,
  .navBTN.chooseFolder {
    flex: 1;
  }
  .search_WRAP.desktop {
    display: none;
  }
  .search_WRAP.mobile {
    display: flex;
  }
  input[type="search"] {
    border: none;
    height: 8rem;
    background-color: var(--bg_main);
    border: var(--border_005);
    border-radius: var(--radius_big);
  }
}