@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Medium.ttf);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins-Black.ttf);
  font-weight: 800;
}

:root {
  --bgBODY: #2D2D2D;
  --bgFORM: #464646;

  --bg_main: #313131;
  --bg_main_hover: #3b3b3b;
  --bg_open:rgb(54, 54, 54);

  --color_3: #373737;
  --color_4: #3f3f3f;
  --color_5: #4b4b4b;

  --red: #ff9e9e;
  --red_bg: #3f3838;
  --green: #AFFB6D;
  --green_bg: #404b40;

  --high: #ff9e9e;
  --medium: #fff1b5;
  --low: #6A6A6A;

  --high_hover: #ff9e9e2a;
  --medium_hover: #66624c;
  --low_hover: #4b4b4b;

  --white_003: rgba(255, 255, 255, 0.03);
  --white_005: rgba(255, 255, 255, 0.05);
  --white_01: rgba(255, 255, 255, 0.1);
  --white_02: rgba(255, 255, 255, 0.2);
  --white_03: rgba(255, 255, 255, 0.3);
  --white_04: rgba(255, 255, 255, 0.4);
  --white_05: rgba(255, 255, 255, 0.5);
  --white_06: rgba(255, 255, 255, 0.6);
  --white_07: rgba(255, 255, 255, 0.7);
  --white_08: rgba(255, 255, 255, 0.8);
  --white_085: rgba(255, 255, 255, 0.85);
  --white_09: rgba(255, 255, 255, 0.9);
  --white_095: rgba(255, 255, 255, 0.95);

  --border_005: 0.1rem solid rgba(255, 255, 255, 0.05);

  --radius_small: 0.8rem;
  --radius_medium: 1.2rem;
  --radius_big: 1.6rem;

  --highlight: #4A4A4A;
  --container_width: 62.5rem;
}
body {
  background-color: var(--bgBODY);
  padding: 6rem 4rem 4rem;
  overflow-y: scroll;
}
#root {
  width: 100%;
  max-width: var(--container_width);
  margin: auto;
  
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
h1, h2, h3, h4, h5, p, li{
  font-weight: 300;
  color: var(--white_085);
  letter-spacing: 0.05px;
}
li {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 1rem;
}

.colorCIRCLE {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50rem;
}
.chooseColorWRAP {
  position: absolute;
  top: -100%;
  display: flex;

  background-color:var(--bg_main);
  box-shadow: 0 1px 6px 2px rgba(255, 255, 255, 0.199);

  border-radius: var(--radius_big);
  overflow: hidden;
  transform: translateY(0rem);
  transition: 100ms ease-in-out;
}

.button[data-type="chooseColor"][data-open="false"] > .chooseColorWRAP {
  opacity: 0%;
  pointer-events: none;
  transform: translateY(1rem);
}

form .button[data-type="chooseColor"][data-open="false"] > .chooseColorWRAP {
  opacity: 0%;
  pointer-events: none;
  transform: translateY(11.5rem);
}
form .chooseColorWRAP {
  transform: translateY(12.5rem);
}

.xWRAP {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.xLINE {
  width: 2.4rem;
  height: 0.3rem;

  position: absolute;
  rotate: 45deg;

  border-radius: 15px;
  background-color: var(--low);
}
.xLINE.second {
  rotate: -45deg;
}
.checkWRAP {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.checkLINE {
  height: 1.4rem;
  width: 0.3rem;
  border-radius: 10px;
  background: var(--green);

  position: absolute;
  transform: rotate(-38deg) translateX(-0.7rem);
}
.checkLINE.second {
  height: 2.4rem;
  transform: rotate(30deg) translateX(0.25rem) translateY(-0.2rem);
}

.alert {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  padding: 2rem 2.8rem;
  background-color: var(--bgFORM);
  border-radius: var(--radius_medium);
  transition: 150ms;
  background-color: rgb(59, 73, 59);
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color_5) var(--color_3);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1.2rem;
}

*::-webkit-scrollbar-track {
  background: #303030;
}

*::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

@media screen and (max-width: 48rem) {
  #root {
    row-gap: 4vmin;
  }
  body {
    background-color: var(--bgBODY);
    padding: 4vmin 4vmin 8rem;
    overflow-y: scroll;
  }
  .alert {
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }
}

