/*  */
/*  */
/*  */
/*  */
nav {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
nav .contentWRAP {
  height: 8rem;
  display: flex;

  border: var(--border_005);
  border-radius: var(--radius_big);
  background-color: var(--bg_main);
}
nav .contentWRAP.mobile {
  overflow: hidden;
  display: none;
}

.navBTN {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  padding: 0 3.2rem;
  border-right: var(--border_005);

  cursor: pointer;
  transition: 100ms ease-in-out;
}
.navBTN:only-child {
  
} 
.navBTN.chooseFolder {
  padding: 0;
  width: 14rem;
}
.navBTN.sort {
  padding: 0;
  width: 12rem;
}
.navBTN:last-child {
  border: none;
  border-radius: 0 var(--radius_big) var(--radius_big) 0;
}
.navBTN:first-child {
  border-radius:  var(--radius_big) 0 0 var(--radius_big) ;
}
.navBTN:hover,
.navBTN[data-open="true"] {
  background-color: var(--bg_main_hover);
}

.navBTN.addTR .xWRAP {
  rotate: 45deg;
}
.navBTN.addTR .xLINE {
  background-color: #AFFB6D;
}

.navDROPDOWN {
  position: absolute;
  top: 110%;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-color: var(--bg_main);
  border-radius: 1.6rem;
  box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.237);

  pointer-events: none;
  opacity: 0%;
  transition: 100ms ease-in-out;
  transform: translateY(-2rem) scaleX(0.8);
}

.navBTN[data-open="true"] .navDROPDOWN{
  pointer-events: all;
  opacity: 100%;
  transform-style: preserve-3d;
  transform: translateY(0rem) scaleX(1);
}


.navDropdownITEM {
  padding: 2rem 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms ease-in-out;
}
.navDropdownITEM[data-current="true"],
.navDropdownITEM:hover  {
  background-color:var(--bg_main_hover);
}

input[type="search"] {
  flex: 1;
  padding: 0 2.4rem;
  
  font-weight: 300;
  color: #fba2ff;
  background-color: rgba(255, 255, 255, 0);
  border-right: var(--border_005);
  transition: 100ms ease-in-out;
}

input[type="search"]:hover,
input[type="search"]:focus  {
  background-color: var(--bg_main_hover);
}

@media screen and (max-width: 48rem) {
  nav .contentWRAP.mobile {
    display: flex;
  }
  .navBTN.sort,
  .navBTN.chooseFolder {
    flex: 1;
  }
  .inputDesktop {
    display: none;
  }
}