/*  */
/*  */
/*  */
/*  */
/*  */
.translationBOARD {
  border: var(--border_005);
  background-color:var(--bg_main);
  border-radius: var(--radius_big);
  overflow: hidden;
  position: relative;
}
.translationBOARD[data-loading="true"] {
  pointer-events: none;
  z-index: 3;
}
.loadingOVERLAY {
  pointer-events: none;
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 15%);
  backdrop-filter: blur(3px);
  opacity: 0%;
  transition: 200ms;
}
.translationBOARD[data-loading="true"] .loadingOVERLAY {
  opacity: 100%;
}

.translation {
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0);
  border-bottom: var(--border_005);
  transition: 200ms ease-in-out;
}

.translation:first-child {
  border-radius: var(--radius_big) var(--radius_big) 0 0;
}
.translation:last-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0 0 var(--radius_big) var(--radius_big);
}
.translation:only-child {
  border-radius: var(--radius_big);
}

.translation > .top {
  padding: 2.6rem 2.8rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 200ms ease-in-out;
  cursor: pointer;
}
.translation > .top > p {
  color: var(--low);
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: inherit;
  margin-top: 0.1rem;
}
.translation .contentWRAP {
  transform: translateY(-1rem);
  transition: 200ms ease-in-out;
}
.translation > .bottom {
  border-top: var(--border_005);
  transition: 200ms ease-in-out;
  height: 0px;
  opacity: 100%;
}



.translation[data-open="true"] {
  background-color: var(--bg_open);
}
.translation[data-open="true"] .contentWRAP {
  transform: translateY(0rem);
}
.translation[data-open="false"]:hover {
  background-color: var(--bg_main_hover);
}
.translation[data-color="low"][data-open="true"] {
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.translation[data-color="medium"][data-open="true"] {
  border: 2px solid var(--medium);
}
.translation[data-color="high"][data-open="true"] {
  border: 2px solid var(--high);
}
.translation[data-open="false"] > .bottom {
  border-top: 0px solid rgba(255, 255, 255, 0);
  opacity: 0%;
}

.translation[data-color="low"] .colorCIRCLE {
  background-color: var(--low);
}
.translation[data-color="medium"] .colorCIRCLE {
  background-color: var(--medium);
}
.translation[data-color="high"] .colorCIRCLE {
  background-color: var(--high);
}

.translatedTEXT {
  background-color: var(--highlight);
  color: var(--white_095);
  padding: 2.2rem 2.8rem;
}
.contentWRAP > .rule {
  border-bottom: var(--border_005);
  padding: 2.4rem 2.8rem;
}
.contentWRAP > .rule:last-child {
  border-bottom: none;
}

.boardTEXT.tr {
  background-color: var(--highlight);
  color: var(--white_095);
  padding: 2.2rem 2.8rem;
}
.boardTEXT.rule {
  margin-bottom: 1.2rem;
  font-weight: 400;
}
.boardTEXT.ex{
  color: var(--white_07);
}

.translationBtnWRAP {
  padding: 2.4rem 2.8rem;
  display: flex;
  column-gap: 0.8rem;
  border-top: var(--border_005);
}
h3.noTR {
  height: 8.4rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white_05);
  font-weight: 300;

  border-radius: var(--radius_big);
  border: var(--border_005);
  transition: 200ms;
}
h3.noTR[data-loading="true"] {
  color: white;
  background-color: #00000017;
}

@media screen and (max-width: 48rem) {
  .translation[data-open="false"]:hover {
    background-color: inherit;
  }
}
