.button {
  padding: 2rem 2.4rem;
  background-color:var(--highlight);
  border-radius: var(--radius_medium);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.button[data-type="chooseColor"] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chooseColorWRAP .button {
  border-radius: 0px;
  background-color: #ffffff00;
}
.button.color.low > .colorCIRCLE{
  background-color: var(--low);
}
.button.color.medium > .colorCIRCLE{
  background-color: var(--medium);
}
.button.color.high > .colorCIRCLE{
  background-color: var(--high);
}

.button.color.low:hover {
  background-color: var(--low_hover);
}
.button.color.medium:hover {
  background-color: var(--medium_hover);
}
.button.color.high:hover {
  background-color: var(--high_hover);
}

.translation[data-color="low"] .button.color.low,
form.bigForm[data-color="low"] .button.color.low {
  background-color: var(--low_hover);
}
.translation[data-color="medium"] .button.color.medium,
form.bigForm[data-color="medium"] .button.color.medium {
  background-color: var(--medium_hover);
}
.translation[data-color="high"] .button.color.high,
form.bigForm[data-color="high"] .button.color.high {
  background-color: var(--high_hover);
}

.button[data-type="chooseColor"][data-open="false"] > .chooseColorWRAP {
  opacity: 0%;
  pointer-events: none;
}

.button.textLeft {
  justify-content: start;
}
.button.seeThrough {
  background-color: #ffffff00;
  border: var(--border_005);
  color: var(--white_08);
  font-weight: 300;
}
.button.wAbsolutes {
  padding: 0 3.2rem;
}